:root{
    --light-color: #DFE3EE;
    --ocean-color: #5CD2C6;
}
.back{
    width: calc(100vw - 420px);
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    background-color: #141414;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.big_img{
    background-image: url("../images/song.png");
    height: auto;
    background-size:cover ;
    background-repeat: no-repeat;
    width: 70%;
    border-radius: 20px;
    margin-top: 80px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(39, 39, 39, 0.4);
    min-height: 500px;
    border-radius: 20px;
}
 .main{
    overflow-y: scroll;
}
.play_part{
    width: 97%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;

}
.card{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.create_playlist{
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    background-color: #333232;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.create{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}
.icon{
    color: white;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 20px;
}
.icon:hover{
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 2px 4px 1px rgba(58, 57, 57, 0.7);
    transition: .4s;
}
.rec_tit{
    color: white;
    margin: 30px 0 30px 20px;
}
.rec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
@media only screen and (max-width: 1600px) {
    .back{
        width: 72vw;
    }
    .main{
        width: 98%;
    }
    .big_img{
        background-image: url("../images/song.png");
        height: auto;
        background-size:cover ;
        background-repeat: no-repeat;
        width: 80%;
        height: 45%;
        background-position: center;
        border-radius: 20px;
        margin-top: 80px;
    }
    .wrapper{
        min-height: 100%;
    }
    .play_part{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .create_playlist{
        min-width: 180px;
        max-width: 180px;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon{
        margin: 0;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .big_img{
        background-image: url("../images/song.png");
        height: auto;
        background-size:cover ;
        background-repeat: no-repeat;
        width: 70%;
        height: 35%;
        background-position: center;
        border-radius: 20px;
        margin-top: 80px;
    }
}