.card{
    width: 100%;
    height: 55px;
    display: flex;
}
.play_img{
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.playlist{
    color: white;
    font-size: 19px;
    font-weight: bold;
}
.user{
    color: rgb(192, 192, 192);
    font-size: 14px;
}
.length{
    color: rgb(192, 192, 192);
    font-size: 14px;
}
.bot{
    display: flex;
    gap: 10px;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (max-width: 1600px) {
    .playlist{
        font-size: 17px;
    }
}